[Settings]
theme = light
accent = blue
background = None
roles = admin,user
home_access_groups = admin_only
settings_access_groups = admin_only
custom_app_title = Homeoffice Dashboard
sidebar_default = open

[admin]
role = admin
password = {{ servicepwd }}
confirm_password = {{ servicepwd }}

[Nextcloud - Virtual Office]
prefix = http://
url = {{ ansible_host }}
icon = static/images/apps/nextcloud.png
sidebar_icon = static/images/apps/nextcloud.png
description = A safe home for all your data – community-driven, free & open source
open_in = this_tab

[Pi-hole - DNS - ADMIN ]
prefix = http://
url = {{ ansible_host }}:8053/admin
icon = static/images/apps/pihole.png
sidebar_icon = static/images/apps/pihole.png
description = A black hole for Internet advertisements
open_in = this_tab

[Cockpit - Server Management]
prefix = https://
url = {{ ansible_host }}:9090
icon = static/images/apps/cockpit-project.png
sidebar_icon = static/images/apps/cockpit-project.png
description = RHEL Admin Interface
open_in = iframe

[Rocket Chat - Chat and IM]
prefix = http://
url = {{ ansible_host }}:3000
icon = static/images/icons/rocketchat.png
sidebar_icon = static/images/icons/rocketchat.png
description = A Chat server with Video and Voice
open_in = iframe

[Wireguard - VPN]
prefix = http://
url = {{ ansible_host }}:8888
icon = static/images/icons/wireguard.png
sidebar_icon = static/images/icons/wireguard.png
description = Web Interface to enable Wireguard and add clients
open_in = iframe

[KASM - Virtual Desktop]
prefix = https://
url = {{ ansible_host }}:11443
icon = static/images/icons/kasm.png
sidebar_icon = static/images/icons/kasm.png
description = Virtual Desktop - Admin = admin@kasm.local - User = user@kasm.local
open_in = iframe

[Axigen - Webmail ADMIN]
prefix = https://
url = {{ ansible_host }}:9443
icon = static/images/icons/axigen.png
sidebar_icon = static/images/icons/axigen.png
description = Full Email Server and Web Gui
open_in = iframe

[Axigen - Webmail USER]
prefix = https://
url = {{ ansible_host }}:10443
icon = static/images/icons/axigen.png
sidebar_icon = static/images/icons/axigen.png
description = Full Email Server and Web Gui
open_in = iframe

[Webmin - Server Management]
prefix = https://
url = {{ ansible_host }}:10000
icon = static/images/icons/webmin.png
sidebar_icon = static/images/icons/webmin.png
description = Full Linux administration WebGUI
open_in = iframe