[general]
start = True
[slapd]
instance_name = {{ instancename }}
port = 389
root_password = {{ adminpwd }}
secure_port = 636
self_sign_cert = True
self_sign_cert_valid_months = 24
sample_entries = no